<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsmCRm8vC4WFjqQvjeZToTcZCVxzAaqn0</string>
	<key>GCM_SENDER_ID</key>
	<string>862164249958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>psn.hotels.hub</string>
	<key>PROJECT_ID</key>
	<string>psn-hotels</string>
	<key>STORAGE_BUCKET</key>
	<string>psn-hotels.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862164249958:ios:44ece09a1c3d51f7fe6ca7</string>
</dict>
</plist>