<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poehalisnami.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
				<key>dateExpires</key>
				<string>11.03.2025</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>native_device_orientation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3353FB49E7B5CC00C980D3ACF6211D2D0810F759</string>
						<key>dateExpires</key>
						<string>11.03.2025</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L7Y8SZ72ZB</string>
						<key>name</key>
						<string>Denys Omelchenko</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L7Y8SZ72ZB.ua.poehalisnami.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L7Y8SZ72ZB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>473b84d5-91ef-4070-b83a-d8d632c3c1a5</string>
				<key>dateExpires</key>
				<string>12.03.2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ua.poehalisnami.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L7Y8SZ72ZB</string>
				<key>name</key>
				<string>Denys Omelchenko</string>
			</dict>
			<key>versionNumber</key>
			<string>1.17.0</string>
		</dict>
	</array>
</dict>
</plist>
